

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{

  background-color:black;

}
.container1{

   background-image: url("images/bg-1.jpg");
}
.image1{
      
    background-image: url("images/bg-1.jpg");
    
   
}

.text1{

     text-align:center;
     text-color:#FFFFFF; 
   }

.screenshot{

   
  
   padding-right:30;
   
}
 .screenshotcraft{

   
   
  background-color:green;
   
}

#btn{

   padding-right:70;
}

#footertext{

    padding-right:30px;
}

.containerlast{

   background-color:#25383C;

}

.secondcontainer{

  padding-left:100px;
}


.foot{

  top:50px;
}


.item1{
      
        width:1100px;
	margin-left:100px; 
        background-color:#FFFFFF;
     
}

.item2{
      
      
	margin-left:100px; 
        background-color:#0CF22F;
    
}

.item3{
      
       
	margin-left:100px; 
        background-color:#FFFFFF;
        ;
}

.item4{

        
	margin-left:100px; 
        background-color:#25383C;
        

}

.text2{

     text-align:center;
     text-color:#FFFFFF; 
   }


